<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Page</title>
    <link rel="stylesheet" href="/home-ejs-style.css">

    <!-- Font Awesome Stylesheet -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
  <body>
    
   
    <header>
        <input type="checkbox" name="" id="toggler">
        <label for="toggler" class="fas fa-bars"></label>

        <a href="#" class="logo"> Glow & Grace <span> . </span></a>
        <nav class="navbar">
            <a href="/home">Home</a>
            <a href="/about">About</a>
            <a href="/products">Products</a>
            <a href="/contact">Contact</a>
        </nav>

        <div class="icons">
            <a href="#" class="fas fa-heart"></a>
            <a href="/cart/:id" class="fas fa-shopping-cart"></a>
            <a href="/login" class="fas fa-user"></a>
        </div>
    </header>

    <main class="about" id="about">
        <section class="about" id="about">
            <h1 class="heading"> Who <span> We Are</span></h1>
            <div class="row">
                <div class="content">
                    <h3> Glow & Grace Skincare</h3>
                    <p> Empower Your Glow with Integrity  </p>
                    <p> 
                    At Glow & Grace, we pride ourselves on offering a curated selection of skincare products designed to elevate your beauty ethically. Our commitment lies in providing vegan, hypoallergenic, and plant-derived formulations. Each product in our range is meticulously crafted with care, ensuring a radiant and conscientious beauty experience for our customers. Join us on our journey towards a healthier, more sustainable approach to skincare, where luxury meets ethical responsibility.
                    </p>
                </div>
                
                <div class="image-container">
                    <img src="/images/AboutLogo.png" alt="product-image">
                </div>
            </div>
        </section>
    </main>

    <section class="icons-container">
        <div class="icons">
          <img src="" alt="">
          <div class="info">
            <h3>Vegan</h3>
            <span> Products derived from plants</span>
          </div>
        </div>
  
        <div class="icons">
          <img src="" alt="">
          <div class="info">
            <h3>Cruelty Free</h3>
            <span> Not tested on animals </span>
          </div>
        </div>
  
        <div class="icons">
          <img src="" alt="">
          <div class="info">
            <h3>Conscious Ingredients</h3>
            <span> Sustainable, eco-friendly ingredients</span>
          </div>
        </div>
    </section>


    <section class="about" id="about">
        <h1 class="heading"> New <span> Products</span></h1>
        <div class="row">
            <div class="image-container">
            <img src="/images/Spot-Treatment.png" alt="product-image">
        </div>

        <div class="content">
            <h3> Glow & Grace Skincare</h3>
            <p> Brilliance Blemish banisher  </p>
            <p> 
                Introducing our latest innovation: the Spot Treatment Brilliance Blemish Banisher. This powerful solution is meticulously formulated to target blemishes effectively while nurturing your skin with gentle care. Say goodbye to pesky spots and hello to a clearer, more radiant complexion. Our blemish banisher is your go-to solution for achieving flawless skin, effortlessly.
            </p>
        </div>

        <div class="row">
            <div class="content">
                <h3> Glow & Grace Skincare</h3>
                <p> Renewal Cleansing Gel </p>
                <p> 
                
Introducing our Renewal Cleansing Gel, your key to rejuvenated and refreshed skin. Infused with nourishing ingredients, this gentle yet effective cleanser removes impurities and revitalizes your complexion. Experience the ultimate cleanse as you unveil smoother, softer, and more radiant skin with every use. Elevate your skincare routine with our Renewal Cleansing Gel and let your natural beauty shine.
                </p>
            </div>
            
            <div class="image-container">
                <img src="/images/Cleansing-Gel.png" alt="product-image">
            </div>
        </div>

        </div>
    </section>


        <section class="footer">
          <div class="box-container">
            <div class="box">
              <h3>Quick Links </h3>
              <a href="#">Home</a>
              <a href="#">About</a>
              <a href="#">Products</a>
              <a href="#">Contact</a>
            </div>
    
            <div class="box">
              <h3> Extra Links </h3>
              <a href="#">Login</a>
              <a href="#">Signup</a>
              <a href="#">My Cart</a>
            </div>
    
    
            <div class="box">
              <h3> Contact Info </h3>
              <a href="#">+123-456-7890</a>
              <a href="#">contact@glowandgrace.com</a>
              <a href="#">Dallas, Texas</a>
              <img src="images/payment.png" alt="">
            </div>
    
          </div>
    
          <div class="credit"> Created By <span> <a href="quyenonthe.net">quynguy</a> </span> | All Rights Reserved </div>
        </section>

  



	<script src="index.js"></script>
  </body>
</html>