<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Home Page</title>
  <link rel="stylesheet" href="/contact-ejs-style.css">

  <!-- Font Awesome Stylesheet -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

<header>
  <input type="checkbox" name="" id="toggler">
  <label for="toggler" class="fas fa-bars"></label>

  <a href="#" class="logo"> Glow & Grace <span> . </span></a>
  <nav class="navbar">
    <a href="/home">Home</a>
    <a href="/about">About</a>
    <a href="/products">Products</a>
    <a href="/contact">Contact</a>
  </nav>

  <div class="icons">
    <a href="#" class="fas fa-heart"></a>
    <a href="/cart/:id" class="fas fa-shopping-cart"></a>
    <!-- <a href="/login" class="fas fa-user"></a> -->
  </div>
</header>

<section class="icons-container">
  <div class="icons">
    <img src="/images/payment-secure.png" alt="">
    <div class="info">
      <h3>Secure Payments</h3>
      <span>Protected By PayPal</span>
    </div>
  </div>

  <div class="icons">
    <img src="/images/money-back.png" alt="">
    <div class="info">
      <h3>14 Days Return</h3>
      <span>Money Back Guarantee</span>
    </div>
  </div>

  <div class="icons">
    <img src="/images/shipping.png" alt="">
    <div class="info">
      <h3>Free Delivery</h3>
      <span>On Orders $50+</span>
    </div>
  </div>
</section>

<section class="contact" id="contact">
  <h1 class="heading"> <span> Contact </span> Us </h1>
  <div class="row">
    <form action="">
      <input type="text" placeholder="name" class="box">
      <input type="email" placeholder="email" class="box">
      <input type="number" placeholder="number" class="box">
      <textarea name="" class="box" placeholder="message" id="" cols="30" rows=""></textarea>
      <button type="submit" value="send message" class="btn"> Send Message </button>
    </form>

    <div class="image">
      <img src="images/ContactForm-GG.png" alt="">
    </div>
  </div>
</section>

<section class="footer">
  <div class="box-container">
    <div class="box">
      <h3>Quick Links </h3>
      <a href="#">Home</a>
      <a href="#">About</a>
      <a href="#">Products</a>
      <a href="#">Contact</a>
    </div>

    <div class="box">
      <h3> Extra Links </h3>
      <a href="#">Login</a>
      <a href="#">Signup</a>
      <a href="#">My Cart</a>
    </div>

    <div class="box">
      <h3> Contact Info </h3>
      <a href="#">+123-456-7890</a>
      <a href="#">contact@glowandgrace.com</a>
      <a href="#">Dallas, Texas</a>
      <img src="images/payment.png" alt="">
    </div>
  </div>

  <div class="credit"> Created By <span> <a href="quyenonthe.net">quynguy</a> </span> | All Rights Reserved </div>
</section>

<script src="index.js"></script>
</body>
</html>
