*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    transition: .2s linear;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

.heading {
    text-align: center;
    font-size: 4rem;
    color: #333;
    padding: 1rem;
    margin: 2rem 0;
    background: rgba(225,51,153,.05);
}

.heading span {
    color: rgb(219, 131, 153);
}

/* header & navbar styling */
header #toggler {
    display: none;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(241, 149, 149, 0.1);
}

header .logo {
    font-size: 3rem;
    color: #333;
    font-weight: bolder;
}

header .logo span {
    color: rgb(219, 131, 153);
}

header .navbar a {
    font-size: 2rem;
    padding: 0 1.5rem;
    color: #666;
}

header .navbar a:hover {
    color: red;
}


header .icons a {
    font-size: 3rem;
    color: #333;
    margin-left: 1.5rem;
}

header .icons a:hover {
    color: rgb(219, 131, 153);
}

header .fa-bars {
    font-size: 3rem;
    color: #333;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    cursor: pointer;
    border: .1rem solid rgba(0, 0, 0, .3);
    display: none;
}

/* home.ejs / main container - cart */

main {
    height: 500px;
    padding-top: 100px;
    padding-left: 10px;
}

.cart-grid {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "cart-product cart-price cart-summary"
      "cart-product cart-price cart-summary";
}
  
.cart-product { 
    grid-area: cart-product; 
    padding: 25px;
}

div.products {
    margin-top: 15px;
    display: flex;
    gap: 55px;
}

.products .product-image .product-info {
    margin-top: 15px;
}


div.price {
    margin-top: 15px;
    flex: 1;
}

div.total {
    margin-top: 15px;
    display: flex;
    flex: 1;
}

.cart-price { 
    grid-area: cart-price; 
    padding: 25px;
    display: flex;
}
  
.cart-summary { 
    grid-area: cart-summary; 
    background-color: rgb(230, 230, 230);
    padding: 25px;
}
  
  









/* home.ejs - footer section */

.footer .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: 5rem;
}

.footer .box-container .box {
    flex: 1 1 25rem;
}

.footer .box-container .box h3 {
    color: #333;
    font-size: 2.5rem;
    padding: 1rem 0;
}

.footer .box-container .box a {
    display: block;
    color: #666;
    font-size: 1.5rem;
    padding: 1rem 0;
}

.footer .box-container .box a:hover {
    color: rgb(219, 131, 153);
    text-decoration: underline;
}

.footer .box-container .box img {
    margin-top: 1rem;
    height: 35px;
    width: auto;
}



.footer .credit {
    text-align: center;
    padding: 1.5rem;
    margin-top: 5rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color: #333;
    border-top: .1rem solid rgb(0, 0, 0, .1);
    box-shadow: 0 .5rem 1rem rgba(241, 149, 149, 0.1);
}


.footer .credit span {
    color: rgb(219, 131, 153);
}











/* media queries for responsiveness */








@media (max-width: 991px) {
    html {
        font-size: 55%;
    }
    
    header {
        padding: 2rem;
    }
}


@media (max-width: 768px) {
    header .fa-bars{
        display: block;
    }
    
    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #eee;
        border-top: .1rem solid rgba(0, 0, 0, .1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header #toggler:checked ~ .navbar {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .navbar a {
        margin: 1.5rem;
        padding: 1.5rem;
        background: #fff;
        border: .1rem solid rgba(0, 0, 0, .1);
        display: block;
    }

    .home .content h3 {
        font-size: 5rem;
    }

    .home .content span {
        font-size: 2.5rem;
    }

    .icons-container .icons h3 {
        font-size: 2rem;
    }
    
    .icons-container .icons span {
        font-size: 1.7rem;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }

    .heading {
        font-size: 3rem;

    }

}