*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    transition: .2s linear;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(220, 198, 204);
}

/*login.ejs contents*/
/*signup.ejs contents*/

h2 {
    text-align: center;
    margin-bottom: 30px;
}

.form-container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 3px solid rgb(219, 131, 153);
    border-radius: 5px;
}
.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 3px;;
}

.submit-btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: rgb(219, 131, 153);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: rgb(206, 203, 200);
}

p {
    margin-top: 15px;
}


/* header & navbar styling */
header #toggler {
    display: none;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(241, 149, 149, 0.1);
}

header .logo {
    font-size: 3rem;
    color: #333;
    font-weight: bolder;
}

header .logo span {
    color: rgb(219, 131, 153);
}

header .navbar a {
    font-size: 2rem;
    padding: 0 1.5rem;
    color: #666;
}

header .navbar a:hover {
    color: red;
}


header .icons a {
    font-size: 3rem;
    color: #333;
    margin-left: 1.5rem;
}

header .icons a:hover {
    color: rgb(219, 131, 153);
}

header .fa-bars {
    font-size: 3rem;
    color: #333;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    cursor: pointer;
    border: .1rem solid rgba(0, 0, 0, .3);
    display: none;
}




@media (max-width: 991px) {
    html {
        font-size: 55%;
    }
    
    header {
        padding: 2rem;
    }
}


@media (max-width: 768px) {
    header .fa-bars{
        display: block;
    }
    
    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #eee;
        border-top: .1rem solid rgba(0, 0, 0, .1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header #toggler:checked ~ .navbar {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .navbar a {
        margin: 1.5rem;
        padding: 1.5rem;
        background: #fff;
        border: .1rem solid rgba(0, 0, 0, .1);
        display: block;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }

    .heading {
        font-size: 3rem;

    }

}